package ui

templ nop(){
}

templ MasterDetails(master templ.Component, details templ.Component) {
    <div class="grid grid-cols-3">
        <div class="m-4">
            @master
        </div>
        <div class="col-span-2 my-4 me-4">
            @details
        </div>
    </div>
}

templ Card() {
    <div class="p-8 mb-4 rounded-lg shadow bg-slate-50">
        { children... }
    </div>
}
