package ui

templ H1(text string) {
    <h1 class="p-2 text-xl text-slate-700">{ text }</h1>
}

templ H2(text string) {
    <h2 class="p-2 text-lg text-slate-700">{ text }</h2>
}

templ H3(text string) {
    <h3 class="p-2 text-base text-slate-700">{ text }</h3>
}
